/bin
/obj
bin/Debug/net6.0/detailing
bin/Debug/net6.0/detailing.deps.json
bin/Debug/net6.0/detailing.dll
bin/Debug/net6.0/detailing.pdb
bin/Debug/net6.0/ref/detailing.dll
obj/Debug/net6.0/apphost
obj/Debug/net6.0/detailing.assets.cache
obj/Debug/net6.0/detailing.csproj.AssemblyReference.cache
obj/Debug/net6.0/detailing.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/detailing.csproj.FileListAbsolute.txt
obj/Debug/net6.0/detailing.dll
obj/Debug/net6.0/detailing.pdb
obj/Debug/net6.0/ref/detailing.dll
obj/detailing.csproj.nuget.dgspec.json
obj/detailing.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
*.sln
/.vscode
/Debug
/obj
*.dll
bin/Debug/net6.0/detailing
bin/Debug/net6.0/detailing.dll
bin/Debug/net6.0/detailing.pdb
bin/Debug/net6.0/ref/detailing.dll
obj/detailing.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/apphost
obj/Debug/net6.0/detailing.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/detailing.dll
obj/Debug/net6.0/detailing.pdb
obj/Debug/net6.0/ref/detailing.dll
bin/Debug/net6.0/detailing
bin/Debug/net6.0/detailing.deps.json
bin/Debug/net6.0/detailing.dll
bin/Debug/net6.0/detailing.pdb
bin/Debug/net6.0/ref/detailing.dll
obj/detailing.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/apphost
obj/Debug/net6.0/detailing.assets.cache
obj/Debug/net6.0/detailing.csproj.AssemblyReference.cache
obj/Debug/net6.0/detailing.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/detailing.csproj.FileListAbsolute.txt
obj/Debug/net6.0/detailing.dll
obj/Debug/net6.0/detailing.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/detailing.pdb
obj/Debug/net6.0/ref/detailing.dll
